<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        {% if authenticated %}
        <div>
            <p>{{user.first_name}} {{user.last_name}}</p>
            <button><a href="{% url 'logout' %}">log-out</a></button>
            <button><a href="{% url 'cart' %}">Сart</a></button>
        </div>

        {% else %}
            <button><a href="{% url 'login' %}">Log-In</a></button>
        {%  endif %}
    </div>
    <div style="display: inline-block">
        <a href="{% url 'index'%} ">All products</a>
        <a href="{% url 'category'%}?category=TC ">Technic</a>
        <a href="{% url 'category'%}?category=MB ">Mobile</a>
        <a href="{% url 'category'%}?category=TV ">Television</a>
    </div>
    <div>
        {% for product in products %}
            <div style="
                        padding: 20px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        outline: 1px solid #666;
                        background: #f0f0f0;
                        "
                       >
                <div>Title: {{ product.title }}</div>
                <div>Manufactured: {{ product.manufactured }}</div>
                <div>Description: {{ product.description }}</div>
                <div>Price: {{ product.price }}$</div>
                {% if authenticated %}
                    <div>
                        <form action='{% url "cart" %}' method="post">
                        {% csrf_token %}
                        <input type="hidden" class="product" name="product_id" value="{{ product.id }}">
                        <button id="cart" type="submit" data-href="{% url 'cart' %}"> Add to cart</button>
                        </form>
                        {% if super%}
                            <button><a href="{% url 'edite' %}?id={{product.id}} ">Edit</a></button>
                            <button><a href="{% url 'delete' %}?id={{product.id}} ">Delete</a></button>
                        {% endif %}
                    </div>
                {%  endif %}
            </div>
        {% endfor %}
    </div>

    <div>

    </div>


</body>
<script>
  $(document).on("onclick","#cart",function(){
  event.preventDefault();
  var product_id = $("#product-id").val();
  var url = $("#cart").attr('action');
  console.log(product_id);
  data = {
     'product_id': product_id,
     'csrfmiddlewaretoken': $('#cart input[name="csrfmiddlewaretoken"]').val(),
  };
    $.ajax({
      type: 'POST',
      url: url,
      data: data,
      dataType: 'json',
    });
        success: function (response) {
            alert("Product added to card");
                },
        error: function (response) {
            alert(response.responseJSON.errors);
            }
        });

</script>
</html>
